<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--COMMON CONFIGURATION-->
    <add key="ZipDestinationFolder" value="C:\FtpTemp\Temp\" />
    <!--MAIL CONFIGURATION-->
    <add key="MailServer" value="smtp.something.net" />
    <add key="MailUser" value="info@something.net" />
    <add key="MailPassword" value="ENCRYPTEDPASSWORD" />
    <add key="MailRecipient" value="info@something.net" />
  </appSettings>
</configuration>